<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--=======Security==========================================================-->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPS config</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
    <security-constraint>
        <display-name>Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Secret Web Application</web-resource-name>
            <url-pattern>/login/*</url-pattern>
            <url-pattern>/account/*</url-pattern>
            <url-pattern>/orderTicket_member</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
            <role-name>Officer</role-name>
            <role-name>Member</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Manager Pages</web-resource-name>
            <url-pattern>/manager/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Officer Pages</web-resource-name>
            <url-pattern>/officer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Officer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>JDBC Realm</realm-name>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/loginError</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>Manager</role-name>
    </security-role>
    <!--=======/Security==========================================================-->
    <!--=======Filter==========================================================-->
    <filter>
        <filter-name>applicationFilter</filter-name>
        <filter-class>filter.applicationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>applicationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--=======/Filter==========================================================-->
    <!--=======Error page==========================================================-->
    <error-page>
        <error-code>403</error-code>
        <location>/error?errorCode=403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error?errorCode=404</location>
    </error-page>
    <!--
    <error-page>
        <location>/error?errorCode=0</location>
    </error-page>
    -->
    <!--=======/Error page==========================================================-->
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>eventListener.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies</servlet-name>
        <servlet-class>servlets.Movies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>servlets.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <description>logout</description>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>servlets.manager.Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>servlets.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SQLconfig</servlet-name>
        <servlet-class>common.jdbc.DBconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRight</servlet-name>
        <servlet-class>common.roleAction.MemberAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRight</servlet-name>
        <servlet-class>common.roleAction.MemberAct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestRight</servlet-name>
        <servlet-class>common.roleAction.GuestAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfficerRight</servlet-name>
        <servlet-class>common.roleAction.OfficerAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbstractRight</servlet-name>
        <servlet-class>common.roleAction.AbstractAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATesting</servlet-name>
        <servlet-class>common.jdbc.testing.ATesting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTicket</servlet-name>
        <servlet-class>servlets.OrderTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account_edit</servlet-name>
        <servlet-class>servlets.Account_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account_create</servlet-name>
        <servlet-class>servlets.Account_create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Houses</servlet-name>
        <servlet-class>servlets.Houses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer</servlet-name>
        <servlet-class>servlets.officer.Officer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_MovieShow</servlet-name>
        <servlet-class>servlets.manager.M_MovieShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTicketCancel</servlet-name>
        <servlet-class>servlets.OrderTicket_Cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_Movie</servlet-name>
        <servlet-class>servlets.manager.M_Movies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies_Edit</servlet-name>
        <servlet-class>servlets.manager.M_Movies_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies_remove</servlet-name>
        <servlet-class>servlets.manager.M_Movies_remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies_create</servlet-name>
        <servlet-class>servlets.manager.M_Movies_create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrderTicket_refund</servlet-name>
        <servlet-class>servlets.OrderTicket_Refund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_Refund</servlet-name>
        <servlet-class>servlets.officer.Officer_Refund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_Checkout</servlet-name>
        <servlet-class>servlets.officer.Officer_Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieShow_create</servlet-name>
        <servlet-class>servlets.manager.M_MovieShow_create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieShow_edit</servlet-name>
        <servlet-class>servlets.manager.M_MovieShow_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieShow_remove</servlet-name>
        <servlet-class>servlets.manager.MovieShow_remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExclusiveLogin</servlet-name>
        <servlet-class>servlets.ExclusiveLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/loginError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SQLconfig</servlet-name>
        <url-pattern>/SQLconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRight</servlet-name>
        <url-pattern>/MemberRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRight</servlet-name>
        <url-pattern>/ManagerRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestRight</servlet-name>
        <url-pattern>/GuestRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfficerRight</servlet-name>
        <url-pattern>/OfficerRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbstractRight</servlet-name>
        <url-pattern>/AbstractRight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATesting</servlet-name>
        <url-pattern>/ATesting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account_edit</servlet-name>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account_create</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Houses</servlet-name>
        <url-pattern>/houses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTicket</servlet-name>
        <url-pattern>/orderTicket_member</url-pattern>
        <url-pattern>/orderTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer</servlet-name>
        <url-pattern>/officer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_MovieShow</servlet-name>
        <url-pattern>/manager/movies/movieShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTicketCancel</servlet-name>
        <url-pattern>/orderTicket/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_Movie</servlet-name>
        <url-pattern>/manager/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies_Edit</servlet-name>
        <url-pattern>/manager/movies/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies_remove</servlet-name>
        <url-pattern>/manager/movies/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies_create</servlet-name>
        <url-pattern>/manager/movies/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrderTicket_refund</servlet-name>
        <url-pattern>/orderTicket/refund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_Refund</servlet-name>
        <url-pattern>/officer/refund</url-pattern>
        <url-pattern>/officer/refundApproved</url-pattern>
        <url-pattern>/officer/refundDeclined</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_Checkout</servlet-name>
        <url-pattern>/officer/checkout</url-pattern>
        <url-pattern>/officer/checkoutPay</url-pattern>
        <url-pattern>/officer/checkoutCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieShow_create</servlet-name>
        <url-pattern>/manager/movies/movieShow/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieShow_edit</servlet-name>
        <url-pattern>/manager/movies/movieShow/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieShow_remove</servlet-name>
        <url-pattern>/manager/movies/movieShow/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExclusiveLogin</servlet-name>
        <url-pattern>/exclude/logout</url-pattern>
        <url-pattern>/exclusiveLogin</url-pattern>
        <url-pattern>/exclude/exclusiveLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <!--=======Resource=======================================================-->
    <resource-ref>
        <res-ref-name>jdbc/cinema</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!--=======/Resource======================================================-->
</web-app>
