/* 
    Document   : movies
    Created on : Apr 7, 2013, 6:39:49 PM
    Author     : DUNCAN
    Description:
        Purpose of the stylesheet follows.
*/


#content .movieContainer{
    display:block;
    width: 100%;
    overflow: auto;
    border-bottom:solid 1px #ddd;
    border-top:solid 1px #ddd;
}

#content .movieContainer .moviePoster{
    width: 300px;
    height: 420px;
    float:left;
    
    border-bottom:solid 1px black;
    border-top:solid 1px black;
}

#content .movieContainer .movieDescription{
    max-width: 710px;
    height:auto;
    padding: 5px;
    float:left;
}

#content .movieContainer .movieDescription .movieDescriptionItem{
    width:100%;
    display: block;
    margin: 10px 0;
    overflow: auto;
}

#content .movieContainer .movieDescription .movieDescriptionItem .movieTitle{
    font-size: 30px;
    font-weight: bold;
}

#content .movieContainer .movieDescription .movieDescriptionItem .label{
    font-weight: bold;
    float:left;
}

#content .movieContainer .movieDescription .movieDescriptionItem .content{
    float: right:
}